<!DOCTYPE html>
<html>
    <head>
        <title>Fetching Spotahome Listings</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="https://d26q4asbryw2nm.cloudfront.net/1911de2/bundles/sahapp/favicon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-white pt-3 pb-3 fixed-top">
            <svg width="193px" height="32px" viewBox="0 28 290 8" version="1.1" style="max-width: 193px; min-width: 193px;"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill="#32AF96"><path d="M270.09631,8 L270.09631,14.707477 L283.302777,14.707477 L283.302777,49.2917077 L270.09631,49.2917077 L270.09631,56 L290,56 L290,8 L270.09631,8 Z M19.9028767,8 L19.9028767,14.707477 L6.69640903,14.707477 L6.69640903,49.2917077 L19.9028767,49.2917077 L19.9028767,56 L0,56 L0,8 L19.9028767,8 Z M237.344205,20.6339776 L254.750474,20.6339776 L254.750474,25.1588953 L242.387873,25.1588953 L242.387873,29.8493189 L253.266994,29.8493189 L253.266994,34.3742365 L242.387873,34.3742365 L242.387873,39.2301661 L254.915667,39.2301661 L254.915667,43.7542684 L237.344205,43.7542684 L237.344205,20.6339776 Z M208.72436,20.6339776 L214.196878,20.6339776 L220.262625,30.4110609 L226.328372,20.6339776 L231.80089,20.6339776 L231.80089,43.7542684 L226.757222,43.7542684 L226.757222,28.6597955 L220.262625,38.5355301 L220.130796,38.5355301 L213.702113,28.7592622 L213.702113,43.7542684 L208.72436,43.7542684 L208.72436,20.6339776 Z M198.894904,32.2603254 L198.894904,32.1942861 C198.894904,28.2311105 195.993859,24.927513 191.905542,24.927513 C187.818039,24.927513 184.982908,28.1650712 184.982908,32.1282468 L184.982908,32.1942861 C184.982908,36.158277 187.883953,39.4610592 191.971456,39.4610592 C196.059773,39.4610592 198.894904,36.2243163 198.894904,32.2603254 M179.675583,32.2603254 L179.675583,32.1942861 C179.675583,25.6213337 184.85108,20.2370894 191.971456,20.2370894 C199.092647,20.2370894 204.202229,25.5552944 204.202229,32.1282468 L204.202229,32.1942861 C204.202229,38.7672385 199.026732,44.1506675 191.905542,44.1506675 C184.785165,44.1506675 179.675583,38.8332778 179.675583,32.2603254 M155.638656,20.6339776 L160.714875,20.6339776 L160.714875,29.7832795 L170.077966,29.7832795 L170.077966,20.6339776 L175.154185,20.6339776 L175.154185,43.7542684 L170.077966,43.7542684 L170.077966,34.4737032 L160.714875,34.4737032 L160.714875,43.7542684 L155.638656,43.7542684 L155.638656,20.6339776 Z M144.238486,35.2990318 L138.997075,23.5073411 L133.7223,35.2990318 L144.238486,35.2990318 Z M137.809803,20.4687162 L140.249447,20.4687162 L150.765633,43.754513 L147.963867,43.754513 L145.260565,37.643836 L132.700221,37.643836 L129.963555,43.754513 L127.293617,43.754513 L137.809803,20.4687162 Z M113.597837,25.3239121 L106.575925,25.3239121 L106.575925,20.6343038 L125.696781,20.6343038 L125.696781,25.3239121 L118.674869,25.3239121 L118.674869,43.7545946 L113.597837,43.7545946 L113.597837,25.3239121 Z M99.3849145,32.2603254 L99.3849145,32.1942861 C99.3849145,28.2311105 96.4838696,24.927513 92.3963666,24.927513 C88.3080498,24.927513 85.4729193,28.1650712 85.4729193,32.1282468 L85.4729193,32.1942861 C85.4729193,36.158277 88.3739641,39.4610592 92.4622809,39.4610592 C96.549784,39.4610592 99.3849145,36.2243163 99.3849145,32.2603254 M80.1647802,32.2603254 L80.1647802,32.1942861 C80.1647802,25.6213337 85.3410906,20.2370894 92.4622809,20.2370894 C99.5826575,20.2370894 104.69224,25.5552944 104.69224,32.1282468 L104.69224,32.1942861 C104.69224,38.7672385 99.5167432,44.1506675 92.3963666,44.1506675 C85.2751762,44.1506675 80.1647802,38.8332778 80.1647802,32.2603254 M68.2606498,32.2934266 C70.7987589,32.2934266 72.2822385,30.7737066 72.2822385,28.7925264 L72.2822385,28.7264871 C72.2822385,26.446907 70.7002943,25.2255868 68.1613714,25.2255868 L64.2390611,25.2255868 L64.2390611,32.2934266 L68.2606498,32.2934266 Z M59.1612154,20.6338146 L68.5902216,20.6338146 C74.0952899,20.6338146 77.4251848,23.9039848 77.4251848,28.6270204 L77.4251848,28.6930598 C77.4251848,34.0438768 73.2717674,36.8183443 68.0954571,36.8183443 L64.2390611,36.8183443 L64.2390611,43.7549207 L59.1612154,43.7549207 L59.1612154,20.6338146 Z M36.4768349,40.3858545 L39.4771581,36.7854877 C41.5538668,38.5025104 43.7298539,39.5925672 46.3672414,39.5925672 C48.4439501,39.5925672 49.6963226,38.7674831 49.6963226,37.413269 L49.6963226,37.3464144 C49.6963226,36.0582396 48.9053505,35.3978462 45.0481408,34.4072562 C40.3999589,33.2177328 37.3996357,31.929558 37.3996357,27.3394164 L37.3996357,27.273377 C37.3996357,23.0778408 40.7628947,20.3033733 45.4769909,20.3033733 C48.8394361,20.3033733 51.707117,21.360818 54.0482968,23.2433468 L51.4109093,27.0744437 C49.3667509,25.6541903 47.3559565,24.7956789 45.4110765,24.7956789 C43.4653828,24.7956789 42.4441173,25.6876176 42.4441173,26.8102864 L42.4441173,26.8763257 C42.4441173,28.3960458 43.4328325,28.8909332 47.4218709,29.9149506 C52.1034168,31.137086 54.7408043,32.8214968 54.7408043,36.851527 L54.7408043,36.9175663 C54.7408043,41.5085233 51.2457165,44.0848728 46.267963,44.0848728 C42.773689,44.0848728 39.246051,42.8627374 36.4768349,40.3858545"></path></g></g></svg>
            <div class="float-right">
                <small>Mauricio J Mondragon R</small>
            </div>
        </nav>
        <div class="container pt-3">
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
            <div class="row mb-3 mt-12 pt-3">
                <div class="col">
                    <h3>Fetch XML listings - {{ listings.getTotalItemCount }}</h3>
                </div>
                <div class="col text-right">
                    <a class="btn btn-primary" href="/export/json?{{queryParams}}" target="_blank">Download Json</a>
                </div>
            </div>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th {% if listings.isSorted('id') %} class="sorted {{listings.direction}}"{% endif %}>
                                {{ knp_pagination_sortable(listings, 'Id', 'id') }}
                                 <i class="fas fa-sort"></i>
                                 <i class="fas fa-sort-up"></i>
                                 <i class="fas fa-sort-down"></i>
                            </th>
                            <th {% if listings.isSorted('title') %} class="sorted {{listings.direction}}"{% endif %}>
                                {{ knp_pagination_sortable(listings, 'Title', 'title') }}
                                 <i class="fas fa-sort"></i>
                                 <i class="fas fa-sort-up"></i>
                                 <i class="fas fa-sort-down"></i>
                            </th>
                            <th>
                                Link
                            </th>
                            <th {% if listings.isSorted('city') %} class="sorted {{listings.direction}}"{% endif %}>
                                {{ knp_pagination_sortable(listings, 'City', 'city') }}
                                 <i class="fas fa-sort"></i>
                                 <i class="fas fa-sort-up"></i>
                                 <i class="fas fa-sort-down"></i>
                            </th>
                            <th>
                                Image
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listing in listings %}
                            <tr>
                                <td>{{ listing.id }}</td>
                                <td>{{ listing.title }}</td>
                                <td><a href="{{ listing.url }}" target="_blank">{{ listing.url }}</a></td>
                                <td>{{ listing.city}}</td>
                                <td> <img src="{{ listing.mainImage ? listing.mainImage.url : '' }}" width="120" alt="{{listing.mainImage.title}}"/> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(listings, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig', {}, {
                    'position': 'centered',
                    'rounded': true,
                    }) }}
            </div>
        </div>
    </body>
</html>